.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  }
  
  .half-width {
    width: 50%;
  }

.user-container {
    margin-top: 26px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    min-height: 580px;
}

.user-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.user-body {
    margin-top: 15px;
    display: inline-flexbox;
}